<div >
	Haat Utkarsh Mundra, Thali order karr!!!!!
	<button class="btn" data-toggle="modal" ng-click="show({{user}})" data-target="#modalAddUser">Add User</button>
	<div class="userList" ng-repeat="user in $ctrl.users">
		 <button class="btn btn-link badge" data-toggle="modal" ng-click="show({{user}})" data-target="#modalEditUser"><i class="fas fa-pencil-alt"></i></button>
		<p style="visibility:hidden">{{user.id}}</p>
		<h3>{{user.name}}</h3>
        <p>{{user.phone}}</p>
        <p>{{user.location}}</p>
	</div>
	<div class="modal fade bg-light" id="modalAddUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header text-center">
	                <h4 class="modal-title w-100 font-weight-bold">Add user</h4>
	                <button class="btn btn-link btn-lg" type="button" class="close"data-dismiss="modal" arial-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <div class="modal-body mx-3">
	                <div class="md-form mb-4">
	                    <label>Name</label>
	                    <input type="text" class="form-control" id="name" ng-model="user.name"/>
	                </div>
	                <div class="md-form mb-4">
	                    <label>Contact No</label>
	                    <input type="text" class="form-control" id="phone" ng-model="user.phone"/>
	                </div>
	                <div class="md-form mb-4">
	                    <label>Address</label>
	                    <input type="text" class="form-control" id="location" ng-model="user.location"/>
	                </div>
	            </div>
	            <div class="modal-footer d-flex justify-content-end">
	                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
	                <input type="submit" value="Save" class="btn btn-primary" ng-click="postData()"/>
	            </div>
	        </div>
	    </div>
	</div>
	<div class="modal fade" id="modalEditUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header text-center">
	                <h4 class="modal-title w-100 font-weight-bold">Edit user</h4>
	                <button class="btn btn-link btn-lg" type="button" class="close" data-dismiss="modal" arial-label="Close">
	                        <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <div class="modal-body mx-3">
	                <div class="md-form mb-4">
	                	<input style="visibility:hidden" type="text" class="form-control" id="userid" ng-model="user.id"/>
	                    <label>Name</label>
	                    <input type="text" class="form-control" id="name" ng-model="user.name"/>
	                </div>
	                <div class="md-form mb-4">
	                    <label>Contact No</label>
	                    <input type="text" class="form-control" id="phone" ng-model="user.phone"/>
	                </div>
	                <div class="md-form mb-4">
	                    <label>Address</label>
	                    <input type="text" class="form-control" id="location" ng-model="user.location"/>
	                </div>
	            </div>
	            <div class="modal-footer d-flex justify-content-end">
	                <button class="btn btn-default" data-dismiss="modal">Cancel</button>
	                <input type="submit" value="Save" class="btn btn-primary" ng-click="updateData()"/>
	            </div>
	        </div>
	  	</div>	
	</div>
</div>